{
  "trailingComma": "es5",
  "tabWidth": 4,
  "useTabs": true,
  "semi": true,
  "singleQuote": false,
  "printWidth": 80,
  "arrowParens": "avoid",
  "singleAttributePerLine": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ],
  "importOrder": [
    "^react$",
    "<THIRD_PARTY_MODULES>",
    "^@/app/(.*)$",
    "^@/pages/(.*)$",
    "^@/widgets/(.*)$",
    "^@/features/(.*)$",
    "^@/shared/components(.*)$",
    "^@/shared/libs(.*)$",
    "^@/shared/ui(.*)$",
    "^@/shared/icons(.*)$",
    "^[./]"
  ],
  "importOrderSortSpecifiers": true
}
